:root {
  --primary-color: #0e3a7e;
  --primary-overlay: #0e3a7eb5;
  --primary-dark: #0a2b5e;
  --text-light: #ffffff;
  --text-dark: #333333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffff;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
